body #Tnav {
    float: right;
    /*border:  1px solid #ffffff;*/
}
body {
    width: 100%;
}
#Timage-size img {
    height: 380px;
    width: 100%;
}
#partners {
    background: url(../img/bilbord_1.jpg);
    margin: 15% 0 0 0;
    padding: 20%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 15%;
}
#partners-logo img{
 /**/
}
.Tmargin-top {
    margin-top: 2%;
    /*margin-bottom: 2%;*/
}
.Tmargin-top a{
    margin-bottom: 5%;
}
#Tpartners-image img{
    /*width: 50px;*/
}
.Tsection-bgc {
 background: rgb(81, 156, 255);
}
.THeading-blue-color  h1 a,.THeading-black-color h1 a {
    display: block;
}
.THeading-blue-color  h1 a,.THeading-black-color h1 a, .THeading-black-color h1,.THeading-blue-color  h1 {
    color: #ffffff ;
}
.THeading-blue-color  h1 a:hover,.THeading-black-color h1 a:hover {
    color: rgba(255,255,228,0.4);
    text-decoration: none;
}
#Tcontact-position{
    font-size: 1.3em;
    color: rgb(255,255,228);
    padding: 3%;

}
#Tcontact-position h3{
    margin-top: 0;

}
#Tcontact-position span {
    margin-top: 15%;
    color: rgb(189,195,195);
}
.Tcontact-hp {
    background: rgb(84,86,88);
}
#Tfooter-color {
    height: 70px;
    background: rgb(42,43,44);
}
#Theader-color{
    background: rgb(42,43,44);
}
section img{
    width: 100%;
}
.Tnavbar li ul {
    height: 20px;
    padding: 0;
    margin: 0;
}
.Tlogo a{
    display: block;
    width:25%;
}
.Tlogo img {
    width: 100%;
}
#Tcontact-position p {
    margin-top: 7%;
}
.THeading-black-color {
 background: rgb(84,86,88);
 /*height: 30px;*/
 position: relative;
}
.THeading-black-color h1{
    padding: 5px;
    margin: 0;
}
.THeading-blue-color {
    background: rgb(81,156,255);
    /*height: 30px;*/
    position: relative;
}
.THeading-blue-color h1{
    padding: 5px;
    margin: 0;
}
#map-container{
    width: 95%;
    height: 350px;
}
.Tcontain-contact h1 {
    padding: 10px;
    font-size: 2em;
}
.Tcontain-contact h6 {
    font-size: 15px;
    line-height: 1.3em;
    color: rgb(82,84,86);
}
.Ttriangle-blue-left {
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 13px solid rgb(54,104,169);
    border-left: 13px solid white ;
    position: absolute;
    left: 0;
}
.Ttriangle-blue-right {
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 13px solid rgb(54,104,169);
    border-right: 13px solid white;
    position: absolute;
    right: 0;
}
.Ttriangle-black-left{
    font-size: 0px; line-height: 0%; width: 0px;
    border-top: 13px solid rgb(42,43,44);
    border-left: 13px solid white ;
    position: absolute;
    left: 0;
}
.Ttriangle-black-right{
    font-size: 0px; line-height: 0%; width: 0px;
    position: absolute;
    right: 0;
    border-top: 13px solid rgb(42,43,44);
    border-right: 13px solid white;
}
.Taddress-info {
    position: relative;
    top: 10px;
    left: 10px;
}
.Taddress-info p {
    width: 100px;
}
.Tposition{
    position: relative;
    top: 20px;
    width: 85%;
    margin: 5% auto;
}
.Tposition a {
    margin-top: 10%;
}
.Tposition-section{
    width: 90%;
    margin: 0 auto;
}
.Tposition-section a {
    margin: 10% 0 10% 3%;
    color: rgb(81, 156, 255);
    font-size: 1.4em;
}
.Tposition-section a:hover {
    text-decoration: none;
    transition:opacity 0.5s;
    -webkit-transition:opacity 0.5s;
    -moz-transition:opacity 0.5s;
    -o-transition:opacity 0.5s;
    opacity: 0.5;
}
.Tposition-section article{
    margin:2%;
}
.icon-colors {
    color: #ffffff;
}
#submit{
    background: rgb(81,156,255);
}
.Tactive a {
  color: rgb(81, 156, 255)!important;
}
#Tmap{
    margin-top: 40px;
    margin-bottom: 40px;
}
.wrapper{
    width: 75%;
}
#Tbutton-contact a{
    background: rgb(81,156,255);
    margin: 60px 0 ;
}
.Tposition-address-map{
    width: 95%;
    margin: 0 auto;
}
.Tposition-tel-form{
    width: 90%;
    margin: 10%  auto 0 auto;
}
/*.Tposition-tel-form textarea{
    height: 180px;
    }*/
    .Tposition-tel-form input[type='submit']{
        margin-top: 6%;
        width: 100%;
    }
    .TpicSize, .TinfoSize  {
        height: 150px;
        /*border: ridge;*/
    }
    .Tposition-section img {
        max-width: 100%;
        max-height: 100%;
    }
    .redWarning {

       /*font-style: italic;*/
       margin-right: 2%;

   }
   .warningPosition {
    text-align: right;
    color: red;
}
.Tcontain-contact {
    margin-top: 5%;
}
#link-goBack {
    cursor: pointer;
}
#form-position {
    /*margin-top: 25%;*/
}
#form-position label {
    margin: 2.6% 0 ;
}
#success {
    background: rgb(102, 235, 102);
    text-align: center;

}
.Tmargin-position {
    margin: 2% 0;
}
.Tfooter-text-position{
    margin-top: 5%;
    font-style: italic;
}
#developers{
    text-align: center;
    color: rgb(81, 173, 228);
    font-family: Tahoma, Helvetica, sans-serif;
}
#tyxo-link{
    text-align: right;
}
#leftArrow {
    float: right;
    margin-top: 2%;
}
#rightArrow {
    margin-top: 2%;
}
.ignore-hash {
    color: red;
    font-size: 1.3em;

}
.gallery-image-position img {
    width: 100%;
    height: 130px;  
    overflow: none;
    border: 1px solid green;
    box-shadow: 5px 2px 2px #888888;

}
.gallery-image-position  {
   
    margin:2%;
    width: 100%;
}
@media all and (max-width: 768px) {
    .Tmargin-position p {
        padding: 0 0 10% 0;
    }
    .gallery-image-position img {

        height: 200px;
        width: 100%;
        

    }
    .gallery-image-position  {

    margin-bottom:1%;
    width: 100%;

}

}
